<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/styleseets/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-2.0.3.js"></script>
    <script src="/javascripts/canvasquery.min.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    <script src="/javascripts/reversi-client.js"></script>
    <script>
      $(function() {clientStandby("http://<%= url %>:<%= port %>");});
    </script>
    <title>Welcome</title>
  </head>
  <body>
    <div id="content">
      <div id="chat">
        <h3>Reversi Demo</h3>
        <p>使い方
        <ol>
          <li>下のボックスに部屋の名前を入力する。</li>
          <li>Login Roomを押すとログインできます。</li>
          <li>他の人が部屋に入るとゲームが始まるので待ちましょう。</li>
          <li>リバーシのボードが出てくるのでマスをクリックすると置けます。</li>
          <li>ゲームが終わったらLogout Roomを押してログアウトしてください。</li>
          <li>Request RoomListで部屋の一覧の表示、Delete logでログの消去ができる。</li>
          <li>WatchInで入力した部屋の観戦、WatchOutで観戦終了ができる。</li>
        </ol></p>
        <ol>
        <p>リバーシAIクライアントからのアクセスの仕方</p>
          <li>次のようにクライアントを実行するとアクセスできる。</li>
          <code>./reversi -H <%= url %> -p <%= tcp_port %> -n 'roomname:username'</code>
          <li>上のように入力した場合、roomnameという部屋にusernameという名前でログインする。</li>
          <li>あとはAIか人間が部屋に入ればゲームが始まる。</li>
          <li>1ゲーム終わるとAIにBYEを送るようになっている。</li>
          <li>制限時間は60000msと設定してます(tcp経由でのログインのみ)。</li>
        </ol></p>
        <form id="loginRoom" onsubmit="return false">
          <input id="loginRoomName" type="text" autocomplete="off">
          <input type="submit" value="Login Room">
        </form>
        <form id="logoutRoom" onsubmit="return false">
          <input type="submit" value="Logout Room" name="delete">
        </form>

        <form id="WatchInRoom" onsubmit="return false">
          <input type="submit" value="WatchIn Room">
        </form>
        <form id="WatchOutRoom" onsubmit="return false">
          <input type="submit" value="WatchOut Room">
        </form>

        <form id="requestRoomList" onsubmit="return false">
          <input type="submit" value="Request RoomList" name="delete">
        </form>

        <form id="deletelog" onsubmit="return false">
          <input type="submit" value="Delete log" name="delete">
        </form>

        <form id="demo" onsubmit="return false">
          <div id="chatlog"></div>
          <!-- <input id="myMessage" type="text" autocomplete="off"> -->
        </form>
      </div>
      <div id="reversi-space"></div>
    </div>
  </body>
</html>
