<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/styleseets/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-2.0.3.js"></script>
    <script src="/javascripts/canvasquery.min.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    <script src="/javascripts/reversi-client.js"></script>
    <title>Welcome</title>
  </head>
  <body>
    <div id="content">
      <div id="chat">
        <h3>Reversi Demo</h3>
        <p>使い方
        <ol>
          <li>下のボックスに部屋の名前を入力する</li>
          <li>Login Roomを押すとログインできます。</li>
          <li>他の人が部屋に入るとゲームが始まるので待ちましょう。</li>
          <li>リバーシのボードが出てくるのでマスをクリックすると置けます。</li>
          <li>ゲームが終わったらLogout Roomを押してログアウトしてください。</li>
        </ol></p>
        <form id="loginRoom" onsubmit="return false">
          <input id="loginRoomName" type="text" autocomplete="off">
          <input type="submit" value="Login Room">
        </form>
        <form id="logoutRoom" onsubmit="return false">
          <input type="submit" value="Logout Room" name="delete">
        </form>

        <form id="requestRoomList" onsubmit="return false">
          <input type="submit" value="Request RoomList" name="delete">
        </form>

        <form id="deletelog" onsubmit="return false">
          <input type="submit" value="Delete log" name="delete">
        </form>

        <form id="demo" onsubmit="return false">
          <div id="chatlog"></div>
          <!-- <input id="myMessage" type="text" autocomplete="off"> -->
        </form>
      </div>
      <div id="reversi-space"></div>
    </div>
  </body>
</html>
